<!DOCTYPE HTML>

<html>
	<head>
		<title>	Looney Tunes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}">
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" style="display: flex; flex-flow: row wrap; gap: 10px;">
					<form method="POST" action="/artistas">
						<button type="submit">Artistas</button>
					</form>
					<form method="POST" action="/canciones/0">
						<button type="submit">Canciones</button>
					</form>
				</header>

				<!-- Main -->
					<div id="main">
						{% for item in artistas %}		
						<article class="thumb">
							<a href={{item.caratula}} class="image"><img src={{item.caratula}} alt="" /></a>
							<h2>{{item.nombre}}</h2>
							<p>{{item.integrantes}}</p>
							<p>{{item.anyoInicio}}</p>
						</article>
     					{% endfor %}
					</div>
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/jquery.poptrox.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

	</body>
</html>